<div class = "navbar">

<%= image_tag "SmilesForRent.png", class: "clown_logo" %>

<h1 class ="smile_name">SmilesForRent</h1>

<%= link_to new_clown_path do %>
<button class="create-btn">create a clown</button>
<% end %>


<%= form_tag(search_path, method: :get, class: "search-form") do %>
  <%= text_field_tag(:query, params[:query], placeholder: "Rechercher...") %>
  <button type="submit" class="search-button">
    <i class="fa-solid fa-magnifying-glass" style="color: #FFFFFF;"></i>
  </button>
<% end %>

</div>

<br>
<br>
<br>
<br>

<div class = "category_clown">

<div>
<%= image_tag "birthday.jpg" %>
<h3>Anniversaire</h3>
</div>

<div>
<%= image_tag "conférence.jpg" %>
<h3>Conférence</h3>
</div>


<div>
<%= image_tag "horreur.jpg" %>
<h3>Horreur</h3>
</div>


<div>
<%= image_tag "hopital_clown.jpg" %>
<h3>Hôpital</h3>
</div>

<div>
<%= image_tag "diner_clown.jpg" %>
<h3>Dîner</h3>
</div>

<div>
<%= image_tag "wedding.jpg" %>
<h3>Mariage</h3>
</div>

</div>

<br>
<br>
<br>

<h2 class="home-h2">Clowns du moment</h2>

<br>
<br>
<br>

<div class="card-container">
  <% @clowns.each do |clown| %>
    <%= content_tag :div, class: 'card' do %>
      <%= link_to clown_path(clown), class: 'card-link' do %>
        <%= content_tag :div, class: 'card-content' do %>
        <% if clown.photo.attached? %>
          <%= cl_image_tag clown.photo.key, height: 200, width: 250, crop: :fill %>
        <% end %>
<div class="name-cate-loca-price">
<div class="name-cate">
          <h2 class="card-title"><%= clown.username %></h2>
          <p class="card-info card-cate"><%= clown.category %></p>
</div>
<div class="loca-price">
          <p class="card-info card-loca"><%= clown.localisation %></p>
          <p class="card-info card-price"><%= clown.price %>€/h</p>
</div>
</div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

</div>
