<div class = "navbar">

<%= image_tag "SmilesForRent.png", class: "clown_logo" %>

<h1 class ="smile_name">SmilesForRent</h1>

<%= form_tag(search_path, method: :get, class: "search-form") do %>
  <%= text_field_tag(:query, params[:query], placeholder: "Rechercher...") %>
  <button type="submit" class="search-button">
    <i class="fa-solid fa-magnifying-glass" style="color: #FFFFFF;"></i>
  </button>
<% end %>
</div>

<div class="container">
  <h2 class="clown-show-title"><%= @clown.username %></h2>

  <div class="show-clown-image-container">
    <%= cl_image_tag @clown.photo.key %>
    <%= cl_image_tag @clown.photo.key %>
    <%= cl_image_tag @clown.photo.key %>
  </div>
 <div class="show-clown-container">
   <div>

     <p class="clown-paragraphe" ><%= @clown.personal_info %></p>

    </div>
    <div class="show-clown-form-container">
      <%= simple_form_for @clown, class:"show-clown-form", id:"toto" do |f| %>
        <%= f.input :username %>
        <%= f.input :personal_info %>
        <%= f.input :price %>
        <%= f.submit "Reserver", class:"btn btn-danger" %>
      <% end %>
    </div>
  </div>

</div>

<%= link_to "Delete",
  root_path,
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
